@model IEnumerable<bus_reservation.Models.BusType>

@{
    ViewData["Title"] = "Bus Type List";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    var successCreateMessage = TempData["SuccessCreateMessage"] as string;
    var successEditMessage = TempData["SuccessEditMessage"] as string;
    var successDeleteMessage = TempData["SuccessDeleteMessage"] as string;
    int serialNumber = 1;
}

<div class="container-fluid pt-4 px-4 bg-dark">
    @* <h1>Index</h1> *@

    <h1>
        <a asp-action="Create" style="font-weight:bolder; color:gray;">Add New BusType</a>
    </h1>
    @if (!string.IsNullOrEmpty(successCreateMessage))
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert" style="background-color: gray; color: white; border: 2px solid #FF5733">
            <strong>@successCreateMessage</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
    else if (!string.IsNullOrEmpty(successEditMessage))
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert" style="background-color: gray; color: white; border: 2px solid #FF5733">
            <strong>@successEditMessage</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
    else if (!string.IsNullOrEmpty(successDeleteMessage))
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert" style="background-color: gray; color: white; border: 2px solid #FF5733">
            <strong>@successDeleteMessage</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
    <table class="table datatable text-center py-3">
        <thead>
            <tr>
                <th>S.No</th> <!-- Add the S.No. header -->
                <th>Bus Type</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>@serialNumber</td> <!-- Display the current S.No. -->
                        <td>@Html.DisplayFor(modelItem => item.BusTypeName)</td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.BusTypeId" style="color: #FF5733;">Edit</a> |
                            <a asp-action="Delete" asp-route-id="@item.BusTypeId" style="color: #FF5733;">Delete</a>
                        </td>
                    </tr>
                    serialNumber++;
                    <!-- Increment the serial number -->
                }
            }
            else
            {
                <tr>
                    <td colspan="4" class="text-center">No Bus Types Found</td>
                </tr>
            }
        </tbody>
    </table>
</div>
