@using bus_reservation.Models
@inject BusReservationSystemContext db

@{
    // Get Employee ID from claims
    var employeeId = User.FindFirst("EmployeeID")?.Value;
    Employee employee = null;

    if (!string.IsNullOrEmpty(employeeId))
    {
        // Fetch the employee details using the ID
        employee = db.Employees.Find(int.Parse(employeeId));
    }
}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>@ViewData["Title"]</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="~/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/Images/logo-dark.webp">
    <link rel="icon" type="image/png" sizes="16x16" href="~/Images/logo-dark.webp">
    <link rel="manifest" href="~/site.webmanifest">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/admin/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/admin/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/admin/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/admin/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="~/admin/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="~/admin/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
    <!-- Template Main CSS File -->
     <link href="~/admin/css/style.css" rel="stylesheet"> 

    <!-- =======================================================
    * Template Name: NiceAdmin
    * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
    * Updated: Apr 20 2024 with Bootstrap v5.3.3
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center bg-dark">

        <div class="d-flex align-items-center justify-content-between bg-dark">
            <a asp-action="Index" asp-controller="EmployeeDashboard" class="logo d-flex align-items-center">
                <img src="~/images/src4-.png"
                     alt="Logo" style="width:180px; height:100% !important;" />
            </a>
            <i class="bi bi-list toggle-sidebar-btn text-light"></i>
        </div><!-- End Logo -->

       

        <nav class="header-nav ms-auto bg-dark">
            <ul class="d-flex align-items-center">


                <li class="nav-item dropdown pe-3">

                    <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                        <img src="@employee?.EmployeeImage"alt="Profile" class="rounded-circle">
                        <span class="d-none d-md-block dropdown-toggle ps-2 text-light">@employee?.Name</span>
                    </a><!-- End Profile Iamge Icon -->

                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile text-light">
                        <li class="dropdown-header">
                            <h6>@employee?.Name</h6>
                            <span>@employee?.Designation</span>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" asp-action="Profile" asp-controller="EmployeeDashboard">
                                <i class="bi bi-person text-light"></i>
                                <span>My Profile</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                       

                        <li>
                            <a class="dropdown-item d-flex align-items-center" asp-action="Logout" asp-controller="Auth">
                                <i class="bi bi-box-arrow-right text-light"></i>
                                <span>Log Out</span>
                            </a>
                        </li>

                    </ul><!-- End Profile Dropdown Items -->
                </li><!-- End Profile Nav -->

            </ul>
        </nav><!-- End Icons Navigation -->

    </header><!-- End Header -->
    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar bg-dark">

        <ul class="sidebar-nav" id="sidebar-nav bg-dark">

            <li class="nav-item">
                <a asp-action="Index" asp-controller="EmployeeDashboard" class="nav-link  @(ViewContext.RouteData.Values["action"].ToString() == "Index" && ViewContext.RouteData.Values["controller"].ToString() == "EmployeeDashboard" ? "active" : "")">
                    <i class="bi bi-grid text-light"></i>
                    <span>Dashboard</span>
                </a>
            </li><!-- End Dashboard Nav -->
            <li class="nav-item">
                <a class="nav-link collapsed @(ViewContext.RouteData.Values["action"].ToString() == "Index" && ViewContext.RouteData.Values["controller"].ToString() == "Booking" || ViewContext.RouteData.Values["action"].ToString() == "Create" && ViewContext.RouteData.Values["controller"].ToString() == "Booking" || ViewContext.RouteData.Values["action"].ToString() == "Ticket" && ViewContext.RouteData.Values["controller"].ToString() == "Booking" || ViewContext.RouteData.Values["action"].ToString() == "Details" && ViewContext.RouteData.Values["controller"].ToString() == "Booking" || ViewContext.RouteData.Values["action"].ToString() == "CancelledBookings" && ViewContext.RouteData.Values["controller"].ToString() == "Booking" || ViewContext.RouteData.Values["action"].ToString() == "ConfirmedBookings" && ViewContext.RouteData.Values["controller"].ToString() == "Booking" || ViewContext.RouteData.Values["action"].ToString() == "Delete" && ViewContext.RouteData.Values["controller"].ToString() == "Booking"  ? "active" : "")" data-bs-target="#booking" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-pc-display-horizontal"></i><span>Booking Ticket</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="booking" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a class="@(ViewContext.RouteData.Values["action"].ToString() == "Create" && ViewContext.RouteData.Values["controller"].ToString() == "Booking" ? "active" : "")" asp-action="Create" asp-controller="Booking">
                            <i class="bi bi-circle"></i><span>Booking Ticket Form</span>
                        </a>
                    </li>
                    <li>
                        <a class="@(ViewContext.RouteData.Values["action"].ToString() == "Index" && ViewContext.RouteData.Values["controller"].ToString() == "Booking" ? "active" : "")" asp-action="Index" asp-controller="Booking">
                            <i class="bi bi-circle"></i><span>Booking List</span>
                        </a>
                    </li>
                    <li>
                        <a class="@(ViewContext.RouteData.Values["action"].ToString() == "ConfirmedBookings" && ViewContext.RouteData.Values["controller"].ToString() == "Booking" ? "active" : "")" asp-action="ConfirmedBookings" asp-controller="Booking">
                            <i class="bi bi-circle"></i><span>Confirmed Booking List</span>
                        </a>
                    </li>
                    <li>
                        <a class="@(ViewContext.RouteData.Values["action"].ToString() == "CancelledBookings" && ViewContext.RouteData.Values["controller"].ToString() == "Booking" ? "active" : "")" asp-action="CancelledBookings" asp-controller="Booking">
                            <i class="bi bi-circle"></i><span>Cancelled Booking List</span>
                        </a>
                    </li>
                </ul>
            <li class="nav-item">
                <a class="nav-link collapsed @(ViewContext.RouteData.Values["action"].ToString() == "CreateEnquiry" && ViewContext.RouteData.Values["controller"].ToString() == "Enquiry" || ViewContext.RouteData.Values["action"].ToString() == "BusAvailabilityResults" && ViewContext.RouteData.Values["controller"].ToString() == "Enquiry" ? "active" : "")" asp-action="CreateEnquiry" asp-controller="Enquiry">
                    <i class="bi bi-search"></i>
                    <span>Enquiry Form</span>
                </a>
            </li>
        </ul>

    </aside><!-- End Sidebar-->
    <main id="main" class="main">
        @RenderBody()
    </main>


    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="~/admin/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="~/admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/admin/vendor/chart.js/chart.umd.js"></script>
    <script src="~/admin/vendor/echarts/echarts.min.js"></script>
    <script src="~/admin/vendor/quill/quill.js"></script>
    <script src="~/admin/vendor/tinymce/tinymce.min.js"></script>
    <script src="~/admin/vendor/php-email-form/validate.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/js/all.min.js" integrity="sha512-6sSYJqDreZRZGkJ3b+YfdhB3MzmuP9R7X1QZ6g5aIXhRvR1Y/N/P47jmnkENm7YL3oqsmI6AK+V6AD99uWDnIw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Template Main JS File -->
    <!-- Include DataTables CSS -->
    <!-- Include jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Include DataTables JS -->
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function () {
            $('.datatable').DataTable();
        });
    </script>
    <script src="~/admin/js/main.js"></script>

</body>

</html>

